<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.TubeMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Tube" >
    <id column="TID" property="tid" jdbcType="INTEGER" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="HID" property="hid" jdbcType="INTEGER" />
    <result column="DID" property="did" jdbcType="INTEGER" />
    <result column="SAMPLING_DATE" property="samplingDate" jdbcType="TIMESTAMP" />
    <result column="CHECK_DATE" property="checkDate" jdbcType="TIMESTAMP" />
    <result column="RESULT" property="result" jdbcType="VARCHAR" />
    <result column="ACTIVE" property="active" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="LAST_DATE" property="lastDate" jdbcType="TIMESTAMP" />
    <result column="FILE1" property="file1" jdbcType="VARCHAR" />
    <result column="FILE2" property="file2" jdbcType="VARCHAR" />
    <result column="FILE3" property="file3" jdbcType="VARCHAR" />
    <result column="FILE4" property="file4" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BaseResultMapOne" type="com.example.demo.pojo.Tube" >
    <id column="TID" property="tid" jdbcType="INTEGER" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="HID" property="hid" jdbcType="INTEGER" />
    <result column="DID" property="did" jdbcType="INTEGER" />
    <result column="SAMPLING_DATE" property="samplingDate" jdbcType="TIMESTAMP" />
    <result column="CHECK_DATE" property="checkDate" jdbcType="TIMESTAMP" />
    <result column="RESULT" property="result" jdbcType="VARCHAR" />
    <result column="ACTIVE" property="active" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="LAST_DATE" property="lastDate" jdbcType="TIMESTAMP" />
    <result column="FILE1" property="file1" jdbcType="VARCHAR" />
    <result column="FILE2" property="file2" jdbcType="VARCHAR" />
    <result column="FILE3" property="file3" jdbcType="VARCHAR" />
    <result column="FILE4" property="file4" jdbcType="VARCHAR" />
    <association property="hospital" javaType="com.example.demo.pojo.Hospital">
      <id column="HID" property="hid" jdbcType="INTEGER" />
      <result column="HNAME" property="hname" jdbcType="VARCHAR" />
      <result column="HTEXT" property="htext" jdbcType="VARCHAR" />
      <result column="HLOCATION" property="hlocation" jdbcType="VARCHAR" />
      <result column="HDETAILED_LOCATION" property="hdetailedLocation" jdbcType="VARCHAR" />
      <result column="HPHONE" property="hphone" jdbcType="VARCHAR" />
      <result column="ACTIVE" property="active" jdbcType="VARCHAR" />
      <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
      <result column="LAST_DATE" property="lastDate" jdbcType="TIMESTAMP" />
      <result column="FILE1" property="file1" jdbcType="VARCHAR" />
      <result column="FILE2" property="file2" jdbcType="VARCHAR" />
      <result column="FILE3" property="file3" jdbcType="VARCHAR" />
      <result column="FILE4" property="file4" jdbcType="VARCHAR" />
    </association>
    <association property="doctor" javaType="com.example.demo.pojo.Doctor">
      <id column="DID" property="did" jdbcType="INTEGER" />
      <result column="DNAME" property="dname" jdbcType="VARCHAR" />
      <result column="DTEXT" property="dtext" jdbcType="VARCHAR" />
      <result column="DSEX" property="dsex" jdbcType="VARCHAR" />
      <result column="DCARD" property="dcard" jdbcType="VARCHAR" />
      <result column="DPHONE" property="dphone" jdbcType="VARCHAR" />
      <result column="DLOCATION" property="dlocation" jdbcType="VARCHAR" />
      <result column="DADDRESS" property="daddress" jdbcType="VARCHAR" />
      <result column="TOUCH" property="touch" jdbcType="VARCHAR" />
      <result column="DIAGNOSIS" property="diagnosis" jdbcType="VARCHAR" />
      <result column="INFECTION_SOURCE" property="infectionSource" jdbcType="VARCHAR" />
      <result column="HID" property="hid" jdbcType="INTEGER" />
      <result column="ACTIVE" property="active" jdbcType="VARCHAR" />
      <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
      <result column="LAST_DATE" property="lastDate" jdbcType="TIMESTAMP" />
      <result column="FILE1" property="file1" jdbcType="VARCHAR" />
      <result column="FILE2" property="file2" jdbcType="VARCHAR" />
      <result column="FILE3" property="file3" jdbcType="VARCHAR" />
      <result column="FILE4" property="file4" jdbcType="VARCHAR" />
    </association>
  </resultMap>


  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TID, CODE, HID, DID, SAMPLING_DATE, CHECK_DATE, RESULT, ACTIVE, CREATE_DATE, LAST_DATE, 
    FILE1, FILE2, FILE3, FILE4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.pojo.TubeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yqfk_tube
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yqfk_tube
    where TID = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yqfk_tube
    where TID = #{tid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.pojo.TubeExample" >
    delete from yqfk_tube
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.Tube" >
    insert into yqfk_tube (TID, CODE, HID, 
      DID, SAMPLING_DATE, CHECK_DATE, 
      RESULT, ACTIVE, CREATE_DATE, 
      LAST_DATE, FILE1, FILE2, 
      FILE3, FILE4)
    values (#{tid,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{hid,jdbcType=INTEGER}, 
      #{did,jdbcType=INTEGER}, #{samplingDate,jdbcType=TIMESTAMP}, #{checkDate,jdbcType=TIMESTAMP}, 
      #{result,jdbcType=VARCHAR}, #{active,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{lastDate,jdbcType=TIMESTAMP}, #{file1,jdbcType=VARCHAR}, #{file2,jdbcType=VARCHAR}, 
      #{file3,jdbcType=VARCHAR}, #{file4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.Tube"  >
    insert into yqfk_tube
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        TID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="hid != null" >
        HID,
      </if>
      <if test="did != null" >
        DID,
      </if>
      <if test="samplingDate != null" >
        SAMPLING_DATE,
      </if>
      <if test="checkDate != null" >
        CHECK_DATE,
      </if>
      <if test="result != null" >
        RESULT,
      </if>
      <if test="active != null" >
        ACTIVE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="lastDate != null" >
        LAST_DATE,
      </if>
      <if test="file1 != null" >
        FILE1,
      </if>
      <if test="file2 != null" >
        FILE2,
      </if>
      <if test="file3 != null" >
        FILE3,
      </if>
      <if test="file4 != null" >
        FILE4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="hid != null" >
        #{hid,jdbcType=INTEGER},
      </if>
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
      <if test="samplingDate != null" >
        #{samplingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkDate != null" >
        #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        #{active,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastDate != null" >
        #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="file1 != null" >
        #{file1,jdbcType=VARCHAR},
      </if>
      <if test="file2 != null" >
        #{file2,jdbcType=VARCHAR},
      </if>
      <if test="file3 != null" >
        #{file3,jdbcType=VARCHAR},
      </if>
      <if test="file4 != null" >
        #{file4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.pojo.TubeExample" resultType="java.lang.Integer" >
    select count(*) from yqfk_tube
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update yqfk_tube
    <set >
      <if test="record.tid != null" >
        TID = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        CODE = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.hid != null" >
        HID = #{record.hid,jdbcType=INTEGER},
      </if>
      <if test="record.did != null" >
        DID = #{record.did,jdbcType=INTEGER},
      </if>
      <if test="record.samplingDate != null" >
        SAMPLING_DATE = #{record.samplingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkDate != null" >
        CHECK_DATE = #{record.checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.result != null" >
        RESULT = #{record.result,jdbcType=VARCHAR},
      </if>
      <if test="record.active != null" >
        ACTIVE = #{record.active,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastDate != null" >
        LAST_DATE = #{record.lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.file1 != null" >
        FILE1 = #{record.file1,jdbcType=VARCHAR},
      </if>
      <if test="record.file2 != null" >
        FILE2 = #{record.file2,jdbcType=VARCHAR},
      </if>
      <if test="record.file3 != null" >
        FILE3 = #{record.file3,jdbcType=VARCHAR},
      </if>
      <if test="record.file4 != null" >
        FILE4 = #{record.file4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update yqfk_tube
    set TID = #{record.tid,jdbcType=INTEGER},
      CODE = #{record.code,jdbcType=VARCHAR},
      HID = #{record.hid,jdbcType=INTEGER},
      DID = #{record.did,jdbcType=INTEGER},
      SAMPLING_DATE = #{record.samplingDate,jdbcType=TIMESTAMP},
      CHECK_DATE = #{record.checkDate,jdbcType=TIMESTAMP},
      RESULT = #{record.result,jdbcType=VARCHAR},
      ACTIVE = #{record.active,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      LAST_DATE = #{record.lastDate,jdbcType=TIMESTAMP},
      FILE1 = #{record.file1,jdbcType=VARCHAR},
      FILE2 = #{record.file2,jdbcType=VARCHAR},
      FILE3 = #{record.file3,jdbcType=VARCHAR},
      FILE4 = #{record.file4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.Tube" >
    update yqfk_tube
    <set >
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="hid != null" >
        HID = #{hid,jdbcType=INTEGER},
      </if>
      <if test="did != null" >
        DID = #{did,jdbcType=INTEGER},
      </if>
      <if test="samplingDate != null" >
        SAMPLING_DATE = #{samplingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkDate != null" >
        CHECK_DATE = #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null" >
        RESULT = #{result,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        ACTIVE = #{active,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastDate != null" >
        LAST_DATE = #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="file1 != null" >
        FILE1 = #{file1,jdbcType=VARCHAR},
      </if>
      <if test="file2 != null" >
        FILE2 = #{file2,jdbcType=VARCHAR},
      </if>
      <if test="file3 != null" >
        FILE3 = #{file3,jdbcType=VARCHAR},
      </if>
      <if test="file4 != null" >
        FILE4 = #{file4,jdbcType=VARCHAR},
      </if>
    </set>
    where TID = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.Tube" >
    update yqfk_tube
    set CODE = #{code,jdbcType=VARCHAR},
      HID = #{hid,jdbcType=INTEGER},
      DID = #{did,jdbcType=INTEGER},
      SAMPLING_DATE = #{samplingDate,jdbcType=TIMESTAMP},
      CHECK_DATE = #{checkDate,jdbcType=TIMESTAMP},
      RESULT = #{result,jdbcType=VARCHAR},
      ACTIVE = #{active,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      LAST_DATE = #{lastDate,jdbcType=TIMESTAMP},
      FILE1 = #{file1,jdbcType=VARCHAR},
      FILE2 = #{file2,jdbcType=VARCHAR},
      FILE3 = #{file3,jdbcType=VARCHAR},
      FILE4 = #{file4,jdbcType=VARCHAR}
    where TID = #{tid,jdbcType=INTEGER}
  </update>

  <select id="selectTubePage"  parameterType="com.example.demo.pojo.Tube" resultMap="BaseResultMapOne">
    SELECT * from yqfk_tube t  LEFT JOIN yqfk_hospital h on t.HID = h.HID
        LEFT JOIN yqfk_doctor d on t.DID = d.DID
        where t.ACTIVE = '1' AND t.CODE like #{code}
    <if test="hid!=null and hid!='' ">
      AND t.HID = #{hid}
    </if>
    <if test="did!=null and did!='' ">
      AND t.DID = #{did}
    </if>
    order by t.tid DESC
  </select>




  <select id="selectCodeListByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from yqfk_tube
    where ACTIVE = '1' AND CODE = #{code,jdbcType=VARCHAR}
  </select>
  <select id="selectByCode" resultType="com.example.demo.pojo.Tube">
    select
    <include refid="Base_Column_List" />
    from yqfk_tube
    where ACTIVE = '1' AND CODE = #{CODE}
  </select>

</mapper>