<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>疫情防控管理</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="assets/css/vendor/cryptocurrency-icons.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins/plugins.css">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="assets/css/helper.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Custom Style CSS Only For Demo Purpose -->
    <link id="cus-style" rel="stylesheet" href="assets/css/style-primary.css">

    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="assets/js/plugins/echarts/echarts.min.js"></script>
    <script src="css/china.js"></script>


</head>

<body class="skin-dark">

<div class="main-wrapper">



    <!-- 悬浮导航栏-->
    <div class="header-section">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
                <!-- logo -->
                <div class="header-logo col-auto">
                    <img src="css/img/jzxxxy.png"  alt="">
                </div>
                <div class="header-right flex-grow-1 col-auto">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <div class="row align-items-center">
                                <!--展开左导航栏-->
                                <div class="col-auto"><button class="side-header-toggle"><i
                                        class="zmdi zmdi-menu"></i></button></div>
                            </div>
                        </div>

                        <div class="col-auto">

                            <ul class="header-notification-area">





                                <!--User-->
                                <li class="adomx-dropdown col-auto">
                                    <a class="toggle" href="#">
                                            <span class="user">
                                        <span class="avatar">
                                            <img src="css/img/gliy.jpeg" alt="">
                                            <span class="status"></span>
                                            </span>
                                            <span class="name">管理员</span>
                                            </span>
                                    </a>

                                    <!-- Dropdown -->
                                    <div class="adomx-dropdown-menu dropdown-menu-user">

                                        <div class="body">
                                            <ul>
                                                <li><a href="/logout"><i class="zmdi zmdi-lock-open"></i>退出登录</a></li>
                                            </ul>

                                        </div>
                                    </div>

                                </li>

                            </ul>

                        </div>


                        <!--  <a href="/logout">
                              <button style="position:relative;right: 10%" class="button button-polymer"><i class="fa fa-sign-out"></i><span>退出登录</span></button>
                          </a>-->


                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- 左导航 -->
    <div class="side-header show">
        <button class="side-header-close"><i class="zmdi zmdi-close"></i></button>
        <!-- Side Header Inner Start -->
        <div class="side-header-inner custom-scroll">

            <nav class="side-header-menu" id="side-header-menu">
                <ul>
                    <li class="has-sub-menu"><a href=" "><i class="ti-home"></i> <span>主页</span></a>
                        <ul class="side-header-sub-menu">
                            <li><a href="main"><span>全球疫情分布图</span></a></li>
                            <li><a href="mainTwo"><span>全国疫情统计图</span></a></li>
                            <li><a href="cityEchartsTable"><span>山西省疫情统计图</span></a></li>
                            <li><a href="jzxxEchartsTable"><span>晋中信息学院疫情统计图</span></a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="ti-palette"></i> <span>学院</span></a>
                        <ul class="side-header-sub-menu">
                            <li><a href="pupilTable"><span>学生信息管理</span></a></li>
                            <li><a href="collegeTable"><span>学院信息管理</span></a></li>
                            <li><a href="systemTable"> <span>院系信息管理</span></a></li>
                            <li><a href="teamTable"><span>班级信息管理</span></a></li>

                        </ul>
                    </li>

                    <li class="has-sub-menu"><a href="#"><i class="ti-package"></i><span>日志</span></a>
                        <ul class="side-header-sub-menu">
                            <li><a href="logTable"><span>日志管理</span></a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="ti-agenda"></i> <span>部门</span></a>
                        <ul class="side-header-sub-menu">
                            <li><a href="departmentTable"><span>部门信息管理</span></a></li>
                            <li><a href="teacherTable"><span>老师信息管理</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="ti-truck"></i> <span>医院</span></a>
                        <ul class="side-header-sub-menu">
                            <li><a href="hospitalTable"><span>医院信息管理</span></a></li>
                            <li><a href="doctorTable"><span>医生信息管理</span></a></li>
                            <li><a href="tubeTable"><span>核酸采样管管理</span></a></li>
                            <li><a href="tubeCodeTable"><span>采样管二维码</span></a></li>
                            <li><a href="nucleicacidCheckTable"><span>核酸人员采样历史记录</span></a></li>

                        </ul>
                    </li>
                    <li class="has-sub-menu"><a href="#"><i class="ti-lock"></i> <span>权限</span></a>
                        <ul class="side-header-sub-menu">
                            <li><a href="permissionTable"><span>管理员权限</span></a></li>
                            <li><a href="roleTable"><span>角色管理</span></a></li>
                        </ul>
                    </li>


                </ul>
            </nav>

        </div><!-- Side Header Inner End -->
    </div><!-- Side Header End -->

    <!-- Content Body Start -->
    <div class="content-body">

        <!-- 子页面标题 -->
        <div class="row justify-content-between align-items-center mb-10">

            <!-- Page Heading Start -->
            <div class="col-12 col-lg-auto mb-20">
                <div class="page-heading">
                    <h3>主页<span>/山西省疫情统计图</span></h3>
                </div>
            </div><!-- Page Heading End -->

            <!-- Page Button Group Start -->
            <div class="col-12 col-lg-auto mb-20">
                <div class="page-date-range">
                    <input type="text" class="form-control input-date-predefined">
                </div>
            </div><!-- Page Button Group End -->

        </div><!-- Page Headings End -->


        <!--统计图-->
        <div class="row">
            <div class="col-md-12">
                <div id="container" style="width: 100%;height: 800px;"></div>
            </div>
        </div>





    </div><!-- Content Body End -->

    <!-- 底部 -->
    <div class="footer-section">
        <div class="container-fluid">

            <div class="footer-copyright text-center">
                <p class="text-body-light">2022/11/25 &copy;双体杯:王湘澎/康龙/任豪强 <a href="http://beian.miit.gov.cn/" class="txt2">
                    晋ICP备2021011861号
                </a></p>
            </div>

        </div>
    </div><!-- Footer Section End -->

</div>

<!-- JS
============================================ -->

<!-- Global Vendor, plugins & Activation JS -->
<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="assets/js/vendor/popper.min.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<!--Plugins JS-->
<script src="assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="assets/js/plugins/tippy4.min.js.js"></script>
<!--Main JS-->
<script src="assets/js/main.js"></script>

<!-- Plugins & Activation JS For Only This Page -->

<!--Moment-->
<script src="assets/js/plugins/moment/moment.min.js"></script>

<!--Daterange Picker-->
<script src="assets/js/plugins/daterangepicker/daterangepicker.js"></script>
<script src="assets/js/plugins/daterangepicker/daterangepicker.active.js"></script>

<!--Echarts-->
<script src="assets/js/plugins/chartjs/Chart.min.js"></script>
<script src="assets/js/plugins/chartjs/chartjs.active.js"></script>

<!--VMap-->
<script src="assets/js/plugins/vmap/jquery.vmap.min.js"></script>
<script src="assets/js/plugins/vmap/maps/jquery.vmap.world.js"></script>
<script src="assets/js/plugins/vmap/maps/samples/jquery.vmap.sampledata.js"></script>
<script src="assets/js/plugins/vmap/vmap.active.js"></script>


</body>

<script>


    /*山西省现确诊病例信息 统计图*/
    $(document).ready(function () {
        $.ajax({
            url:"https://interface.sina.cn/news/wap/fymap2020_data.d.json",
            dataType:"jsonp", //数据类型为jsonp
            type:"get",//可以省略
            success:function (data){
                console.log(data)
                var cityArray =new Array();
                var nameArray =new Array();
                var nameValueArray =new Array();
                for(var i=0;i<data.data.list.length;i++){
                    if(data.data.list[i].name=='山西'){
                        cityArray = data.data.list[i].city;
                        break;
                    }
                }
                console.log("省份----->"+cityArray)
                for(var i=0;i<cityArray.length;i++){
                    nameArray[i] =cityArray[i].name;
                    nameValueArray[i] =cityArray[i].conNum;
                }
                var dom = document.getElementById('container');
                var myChart = echarts.init(dom, null, {
                    renderer: 'canvas',
                    useDirtyRect: false
                });
                var app = {};

                var option;

                option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: nameArray,
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLine: {
                                lineStyle: {
                                    color: "#ffffff"
                                }
                            }
                        },

                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    color: "#ffffff"
                                }
                            }
                        }
                    ],
                    series: [
                        {
                            name: '人数:',
                            type: 'bar',
                            barWidth: '60%',
                            data: nameValueArray
                        }
                    ]
                };

                if (option && typeof option === 'object') {
                    myChart.setOption(option);
                }

                window.addEventListener('resize', myChart.resize);

            },
            error : function() {
                alert('fail');
            }

        })
    })






</script>
</html>